*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.items{
display: grid;
width: 900px;
height: 600px;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: 1fr 1fr 1fr;
grid-template-areas:
"areaA areaA areaB"
"areaC areaD areaE"
"areaF areaF areaE"
;
}

.item01{
  background-color: rgb(239, 148, 62);
  grid-area: areaA;
}
.item02{
  background-color: rgb(227, 227, 14);
  grid-area: areaB;
}
.item03{
  background-color: #9ae1c2;
  grid-area: areaC;
}
.item04{
  background-color: rgb(155, 155, 236);
  grid-area: areaD;
}
.item05{
  background-color: antiquewhite;
  grid-area: areaE;
}
.item06{
  background-color: goldenrod;
  grid-area: areaF;
}

