#hero{
 background: url(../images/hero.jpg); 
 background-size: cover;
 background-attachment: fixed;
 height: 950px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 color: white;
}

#hero h2{
  font-size: 80px;
}

#about{
  display: flex;
  justify-content: center;
}

#about .content{
  width: 50%;
  background-color: #efefef;
}



#about .left {
  padding: 30px;
}

#about .content p{
  font-size: 24px;
  margin-bottom: 30px;
}

#about .right img{
  width: 100%;
}

#conversion{
  padding: 30px 30px 150px;
  background: url(../images/conversion.jpg);
  background-size: cover;
  background-attachment: fixed;
}

#conversion .content{
  text-align: center;
  border: 10px solid black;
  padding: 60px 30px;
}

#conversion .content{
  margin-bottom: 20px;
}

#conversion .content p{
  margin-bottom: 20px;
  font-size: 24px;
}