*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
header{
  position: fixed;
  z-index: 2;
  background-color: black;
  color: white;
  width: 100%;
  height: 60px;
  line-height: 60px;
}

.item{
  height: 500px;
}
main{
  padding-top: 60px;
}
.item01{
  background-color: red;
}
.item02{
  background-color: blue;
}
.item03{
  background-color: green;
}
.item04{
  background-color: gold;
}
.item05{
  background-color: aquamarine;
}
.item06{
  background-color: brown;
}

footer{
  background-color: black;
  color: white;
  height: 1000px; 
}
.item01{
  position: relative;  /* item01のabsoluteでの位置指定*/
  z-index: 1;
}
.item01 .btn{
  display: inline-block;
  background-color: gold;
  padding: 20px 80px;
  position: absolute;  /*item01での基準の範囲で位置指定できる*/
  left: 20%;
  top: 100px;
}

.top{
  position: fixed;
  z-index: 5;
  right: 50px;
  bottom: 50px;
  width: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: blueviolet;
  text-align: center;
}

.top a{
  line-height: 50px;
}

.item02{
  position: sticky;
  top: 0;
}